.dropdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 78%;
  max-height: 50px;
  padding-left: 100px;
  .css-d9c359-MuiButtonBase-root-MuiToggleButton-root {
    color: #fff;
  }
}
