.header {
    background-color: #131720 !important;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100px;
        max-width: 1330px;
        width: 100%;
        margin: 0 auto;
    }

    &__logo {
        font-size: 28px;
        
        &--link {
            color: #fff;
            text-decoration: none;
            
            span {
                font-size: 12px;
                color: #2f80ed;
                margin-left: 5px;
            }
        }
    }
}